.main_col_back img{
	height: auto;
	overflow: visible;
}
.img{
	height: 260px;
	overflow: hidden;
}
.box{
	width: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: -230px;
	z-index: 6;

}
.add{
	margin-top: 0;
	left: 0;
	z-index: 7;
	
}
.addwish{
	margin-top: 0;
	left: 110px;
	z-index: 7;
}
.addmenu{
	background-color: #816FCA;
	width: 100%;
	height: 100%;
	z-index: 200;
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
}